 
img{
    width: 200px;
    height: 200px;
    
    margin-left: 5px;
    margin-right: 35px ;
    border: 5px dotted rgb(20, 64, 91);
    border-top-left-radius: 80px;
    border-bottom-right-radius:80px ;
    align-content: center ; 
}
body{
    background-color: rgb(128, 190, 191);
}
body{
    border: 5px solid rgba(15, 15, 15, 0.916);
    margin: 80px;
    display: flex;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 40px;
    border-radius: 60px;
    
}
#main{
    display: flex;
    padding: 10px;
    text-align: center;
    justify-content: space-evenly;
}
.siva{
    margin-left: 140px;
}
